.bg_1 {
  height: 1500vh;
  width: 100%;
  position: relative;
  z-index: 0;
}

.bg_2 {
  height: 650vh;
  width: 100%;
  position: relative;
  z-index: 0;
}

.titolo{
  position: absolute;
  height: 35vh;
  top: 35vh;
  right: 50vh;
}

.nuvoleTitolo{
  position: absolute;
  height: 35vh;
  top: 35vh;
  right: 25vh;
}

.App {
  text-align: center;
  width: auto;
  height: auto;
  z-index: 0;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;

}

.left_container{
  position: relative;
  justify-content: center;
  width: 100%;
  height: 100%;

}

@media screen and (max-width: 1200px) {



  .titolo{
    position: absolute;
    height: 15vh;
    top: 15vh;
    right: 25vh;
  }
  
  .nuvoleTitolo{
    position: absolute;
    height: 15vh;
    top: 15vh;
    right: 15vh;
  }




  body {
    overflow-x: auto !important; /* Enable horizontal scrolling */
  }

  .App {
    width: 200vw !important; /* Make the app's width twice the viewport width */
    height: 6970vw !important;
  }

  .icon_1_right,
  .icon_2_right,
  .icon_3_right,
  .icon_4_right,
  .icon_5_right,
  .icon_6_right,
  .icon_7_right,
  .text_1_right,
  .text_2_right,
  .text_3_right,
  .text_4_right,
  .text_5_right,
  .text_6_right,
  .text_7_right {
    width: 84vw !important; /* Make the icons half the viewport width */
  }
}


.icon_1_left, .icon_2_left, .icon_3_left, .icon_4_left, .icon_5_left, .icon_6_left, .icon_7_left, .icon_8_left,
.icon_9_left, .icon_10_left, .icon_11_left, .icon_12_left, .icon_13_left, .icon_14_left, .icon_15_left, .icon_16_left,
.text_1_left, .text_2_left, .text_3_left, .text_4_left, .text_5_left, .text_6_left, .text_7_left, .text_8_left,
.text_9_left, .text_10_left, .text_11_left, .text_12_left, .text_13_left, .text_14_left, .text_15_left, .text_16_left{
  width: 38vw;
  left:6vw;
  z-index: 2;
  position: absolute;
}

.icon_1_left {
  top:260vh;
}
.text_1_left {
  top: 315vh;
  width: 30vw;
  left: 11vw;
}

.icon_2_left {
  top:452vh;
}

.text_2_left {
  top: 520vh;
  width: 30vw;
  left: 10vw;
}

.icon_3_left {
  top: 1044vh;
  width: 39vw;
  left: 5vw;
}

.text_3_left {
  top: 1082vh;
  width: 32vw;
  left: 9vw;
}

.icon_4_left {
  top: 1545vh;
  width: 35vw;
}

.text_4_left {
  top: 1595vh;
  width: 30vw;
  left: 9vw;

}
.icon_5_left {
  top: 1730vh;
  width: 35vw;
  left: 7vw;
}
.text_5_left {
  top: 1810vh;
  width: 30vw;
  left:10vw;

}
.icon_6_left {
  top: 1965vh;
  width: 37vw;
  left: 8vw;
}
.text_6_left {
  top: 2025vh;
  width: 30vw;
  left:10vw;
}
.icon_7_left {
  top: 2190vh;
  width: 39vw;
  left:9vw;

}
.text_7_left {
  top:2245vh;
  width: 30vw;
  left: 13vw;
}

.icon_8_left {
  top: 2422vh;
  left:7vw;
}

.text_8_left {
  top: 2483vh;
  width: 30vw;
  left: 11vw;
}



.icon_1_right,
.icon_2_right,
.icon_3_right,
.icon_4_right,
.icon_5_right,
.icon_6_right,
.icon_7_right,
.text_1_right,
.text_2_right,
.text_3_right,
.text_4_right,
.text_5_right,
.text_6_right,
.text_7_right {
  width: 45vw;
  margin-right: 1%;
  position: absolute;
}

.icon_1_right {
  order: 1;
  top:30vh;
  right:10vw;
}

.text_1_right {
  order: 2;
  margin-bottom: 5%; /* Decrease this value to reduce space on the right side of the icon */
}

.icon_2_right {
  order: 3;
  top:90vh;
  right:10vw;
}

.text_2_right {
  order: 4;
  margin-bottom: 5%;
}

.icon_3_right {
  order: 5;
  top:150vh;
  right:10vw;
}

.text_3_right {
  order: 6;
  top:30vh;
  right:10vw;
}

.icon_4_right {
  order: 7;
  top:210vh;
  right:10vw;
}

.text_4_right {
  order: 8;
  margin-bottom: 5%;
}
.icon_5_right {
  order: 9;
  top:270vh;
  right:10vw;
}
.text_5_right {
  order: 0;
  margin-bottom: 5%;
}
.icon_6_right {
  order: 11;
  top:330vh;
  right:10vw;
}
.text_6_right {
  order: 12;
  margin-bottom: 5%;
}
.icon_7_right {
  order: 13;
  top:390vh;
  right:10vw;
}
.text_7_right {
  order: 14;
}



.AnimazioneTitolo {
  -webkit-animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  -webkit-animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}



.AnimazioneNuvole {
  -webkit-animation: scale-in-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}


.scale-in-top {
  -webkit-animation: scale-in-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}

.swing-out-top-bck {
  -webkit-animation: swing-out-top-bck 1s cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
  animation: swing-out-top-bck 1s cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
  position: absolute;
}

@-webkit-keyframes swing-out-top-bck {
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
}
@keyframes swing-out-top-bck {
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
}
